/* General Settings - Begin */

body {
    background-color: #32322C;
    color: #eeeeee;
    margin: 0;
    padding: 0;
}

#page-top, #middle, #bottom {
    padding: 0 3%;
}

/* General Settings - End */



/* Header Settings - Begin */

header {
    background-color: #f3f3f3;
    padding: 10px; 
    position: fixed;
    display: block;
    top: 0;
    z-index: 1;
    width: 100%;
}


#index li {
    display: inline-block;
    width: 30%;
    text-align: center;
}

#index li a {
    text-decoration: none;
    color: #1f1f1b;
    font-family: 'Comforter';
    font-size: 35px;
    letter-spacing: 5px;
    transition: color 1s;
    transition: background-color 1s;
    display: block;
}

#index li a:hover {
    color:#f3f3f3;
    background-color: #1f1f1b;
}

/* Header Settings - End */



/* Page's top's Settings - Begin */


#page-top h1 {
    font-family: 'Roboto Mono';
    font-size: 80px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 135px;
}

#image-container {
    height: 300px;
    position: relative;
}

#profile-image {
    float: left;
    height: 280px;
    padding: 10px;
    border-radius: 50px;
}

#description {
    font-family: 'Supermercado One';
    font-size: 27px;
    font-style: italic;
    color: #f8f694;
    text-align: center;
    position: absolute;
    left: 35%;
    top: 33%;
}

/* Page's top's Settings - End */



/* Page's middle's Settings - Begin */

#middle h2 {
    text-align: center;
    font-size: 85px;
    font-family: 'Roboto Mono';
    margin: 40px 0 0 0;
}

#abilitys-container {
    display: inline-block;
    width: 100%;
}

#abilitys {
    list-style: none;
    font-size: 27px;
    font-family: 'Supermercado One';
    line-height: 45px;
    text-align: center;
    margin-left: -35px;
}

#abilitys li:nth-of-type(odd) {
    background-color: rgb(124, 23, 207);
}

#abilitys li:nth-of-type(1) {
    font-size: 35px;
    letter-spacing: 3px;
}

#abilitys li:nth-of-type(2) {
    font-size: 35px;
    letter-spacing: 8px;
}

#abilitys li:nth-of-type(3) {
    font-size: 33px;
    letter-spacing: 5px;
}
/* Page's middle's Settings - End */


/* Page's bottom's Settings - Begin */

#bottom {
    text-align: center;
}

#bottom h2 {
    font-size: 55px;
    font-family: 'Roboto Mono';
    letter-spacing: 5px;
}

#web-pages {
    margin-bottom: 20px;
}

#web-pages a {
    color:#f3f3f3;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Supermercado One';
    letter-spacing: 5px;
    display: block;
    line-height: 50px;
    transition: color 1s;
    transition: background-color 0.5s;
}

#web-pages a:hover {
    background-color: #1f1f1b;
    color: #c2b2b2;
}

/* Page's bottom's Settings - End */